
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.main {
  margin-top: var(--header-height);
  min-height: calc(100% - var(--header-height));
}

.bottom-spacer-wrapper {
  margin-bottom: 150px;
}