.checkbox {
    position: relative;

     &__label {
        display: flex;
        align-items: center;
        gap: 10px;

        &::before {
            content: "";
            width: 18px;
            height: 18px;
            border-radius: inherit;
            padding: 1px;
            background: linear-gradient(180deg, #FB8627 0%, #F5BEF6 100%);
            mask: 
                linear-gradient(#fff 0 0) content-box, 
                linear-gradient(#fff 0 0);
            mask-composite: exclude;
            -webkit-mask-composite: destination-out; 
        }
    }

    &__input {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;

        &:checked + .checkbox__label {
            &::before {
                background: linear-gradient(180deg, #FB8627 0%, #F5BEF6 100%);
                mask: unset;
            }

            &::after {
                content: '';
                display: block;
                position: absolute;
                top: 0px;
                left: 6px;
                width: 6px;
                height: 13px;
                border: solid var(--color-white);
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
            }
        }
    }

    &__labelText {
        opacity: 0.5;
    }
}