.inputContainer {
    border: solid 1px var(--color-black);
    width: 100%;
    border-radius: 10px;

    &__input {
        all: unset;
        padding: 15px;
        box-sizing: border-box;
        cursor: pointer;
        width: 100%;

        &::placeholder {
            color: var(--color-black);
            opacity: 0.5;

        }

        &:focus::placeholder {
            opacity: 1;

        }
    }
}