.contactFormModal {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;

    &::before {
        background-color: #000000;
        opacity: 0.5;
        top: 0;
        left: 0;
        position: absolute;
        content: "";
        width: 100%;
        height: 100%;
    }

    &__form {
        z-index: 3;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}